@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Waterfall";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/waterfall/v3/MCoRzAfo293fACdFKcwo3bv9.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Anton-Regular';
  src: local('Anton-Regular'), url(/fonts/Anton-Regular.ttf) format('truetype');
}
html {
  font-family: "Montserrat", sans-serif;
}

.mySwipersli {
  background: rgb(0, 72, 87);
  background: linear-gradient(
    180deg,
    rgba(0, 72, 87, 1) 0%,
    rgba(0, 0, 0, 0.3253676470588235) 50%
  );
  z-index: 1;
}

.swipe-slide{
  background: rgb(0,72,87);
background: linear-gradient(90deg, rgba(0,72,87,1) 0%, rgba(0,0,0,0.3253676470588235) 50%);
z-index: 9999;
height: 100vh;
position: absolute;
}

.swiper-button-next {
  color: transparent !important;
  width: 50px !important;
  font-weight: 300;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  padding-top: 10rem !important;
  transform: rotate(180deg);
  background-image: url("/img/nav-arrow.png") !important;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-prev {
  color: transparent !important;
  width: 50px !important;
  font-weight: 300;
  margin-left: 0.5vw;
  padding-top: 10rem !important;
  margin-top: 0.5vw;
  background-image: url("/img/nav-arrow.png") !important;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-pagination-bullet-active {
  background-color: aliceblue !important;
}
.swiper-pagination-bullet {
  border: 3px solid #fff;
}

@media (min-width: 1024px) {
  .swiper-pagination {
    margin-bottom: 2.5rem;
  }
}

/* Estilo para el enlace en hover (color azul claro) */
.navbar ul li:hover .text-azul-light {
  color: #00ACCE;
}
/* Estilo para el enlace en hover (color verde claro) */
.navbar ul li:hover .text-verde-light {
  color: #67BFB1;
}



  .custom-fill-text{
    background-image: url('/img/marg/2.jpg');
  background-position: top;

  }

  .custom-fill-text > h2{
  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
  }

  /*STYLYING TEXT*/
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url(/img/marg/1.jpg);
    background-position: center;
    display: flex;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .hero {
        margin: auto;
    }
}

.img-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    z-index: 1;
}
.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    z-index: 1;
}

.title {
  font-family: 'Anton-Regular';
    position: absolute;
    font-size: 13vw;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 2px white;
}

.bordered-text {
    z-index: 2;
    color: transparent;
}


@media (max-width: 1090px){
  .img-bg {
      object-fit: scale-down;
  }
  .img-overlay {
      object-fit: scale-down;
  }
}
@media (max-width: 768px){
    .title {
      font-size: 13vw;
      margin-top: 6%;
      -webkit-text-stroke: 1px white;
    }
}